@model IEnumerable<ChuteCampeao.MVC.ViewModels.EstadioVM>

@{
    ViewBag.Title = "Estádios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Estádios</h2>

<p>
    @Html.ActionLink("Novo Estádio", "Criar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apelido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataInauguracao)
        </th>
        <th>
            Ações
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apelido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capacidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataInauguracao)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
            @Html.ActionLink("Detalhes", "Detalhes", new { id = item.Id }) |
            @Html.ActionLink("Deletar", "Deletar", new { id = item.Id })
        </td>
    </tr>
}

</table>
