@model IEnumerable<ChuteCampeao.MVC.ViewModels.CampeonatoVM>

@{
    ViewBag.Title = "Campeonatos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Campeonatos</h2>

<p>
    @Html.ActionLink("Novo Estádio", "Criar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataFim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Situacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            Ações
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataFim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Situacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
            @Html.ActionLink("Detalhes", "Detalhes", new { id = item.Id }) |
            @Html.ActionLink("Deletar", "Deletar", new { id = item.Id })
        </td>
    </tr>
    }

</table>

