<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Chute Campeão</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/datatables")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/sweetalerts")
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/utils")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light custom-navbar">
        @Html.ActionLink("Chute Campeão", "Index", "Home", new { area = "" }, new { @class = "navbar-brand custom-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">@Html.ActionLink("Paginal Inicial", "Index", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Sobre", "About", "Home", new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Contato", "Contact", "Home", new { @class = "nav-link" })</li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Parametrização <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu dropdown-custom-navbar" aria-labelledby="navbarDropdown">
                        @Html.ActionLink("Estádios", "Index", "Estadio", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Times", "Index", "Time", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Campeonatos", "Index", "Campeonato", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Rodadas", "Index", "Rodada", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Partidas", "Index", "Partida", null, new { @class = "dropdown-item" })
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">@Html.ActionLink("Perfil", "Index", "Home", null, new { @class = "nav-link" })</li>

            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Chute Campeão</p>
        </footer>
    </div>
    
    @*@RenderSection("scripts", required: true)*@
</body>
</html>
